# Dependencies
node_modules/
.npm/

# Cloudflare Wrangler
.wrangler/
dist/

# Env files
.env
.env.local

# Logs
logs/
*.log
npm-debug.log*

# OS Files
.DS_Store

# Worker specific
fws-email-worker/node_modules/
fws-email-worker/dist/
fws-email-worker/.wrangler/
